mixin postInfo(item, isShowTag=true)
    .post-info
        != full_date(item.date, 'll')
        if item.from && (is_home() || is_post())
            a.post-from(href=item.from target="_blank" title=item.from) 翻譯。原文網址
        if(isShowTag)
            +postTags(item)

mixin postTags(item)
    if (item.tags && item.tags.length)
        span.post-tags
            - item.tags.each(function (tag) {
                a.post-tag(href!=url_for(tag.path)) # #{tag.name}
            - })

mixin postListItem(item)
    li.post-list-item
        article.post-block
            h2.post-title
                a.post-title-link(href= url_for(item.path))
                    != item.title
            +postInfo(item)
            .post-content
                != item.excerpt
            a.read-more(href= url_for(item.path))!= __('more')

//- Index Page
mixin posts()
    ul.home.post-list.post-sticky
        - page.posts.each(function (item) {
            if item.sticky
                +postListItem(item)
        - })
    ul.home.post-list
        - page.posts.each(function (item) {
            +postListItem(item)
        - })

//- Archive Page
mixin postList()
    .archive
        if !is_archive()
            a.post-tag.current-tag # #{page.tag}
        if is_archive()
            .tag-cloud
                != tagcloud({ min_font: 12 })
        - var year = 0;
        - var change = false;
        - page.posts.each(function (item) {
            - var itemYear = date(item.date, 'YYYY') - 0;
            - change = year !== itemYear;
            - year = change ? itemYear : year;
            if change
                h2.archive-year!= year
            .post-item
                +postInfo(item, false)
                if item.sticky
                    a.post-title-link(href= url_for(item.path)) [置頂] #{item.title}
                else
                    a.post-title-link(href= url_for(item.path))
                        != item.title
                if is_tag()
                    +postTags(item)
        - })

//- Post Page
mixin post(item)
    .post
        article.post-block
            h1.post-title
                != item.title
            +postInfo(item)
            .post-content
                != item.content

